/*STRUCTURE GLOBALE */
html, body {
	height: 100%;
}



body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: 200;
        color : #FFFFFF;
	
}


h1 {
	margin: 0;
	padding-top: 10px;
	font-weight: 600;
	text-align: center;
	font-size: 1.4em;
        color: #A88F8F;
        font-family : Georgia;
        letter-spacing: 1px;

}


h2 {
	font-size: 0.9em;
	text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
	text-decoration : underline;
        color: #A88F8F;
}

h3 {
	font-size: 1em;
	font-weight:600;
}

h4{
	text-align: center;
	font-size: 1em;
	font-weight:300;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 200%;
}

a:hover {
	text-decoration: none;
}

.logo{
    color : black;
}

/* Bloc principaux */

.main-content{
	width: 1400px;     
        height : auto;
        position : absolute;
        margin : 0 auto;
	/*padding: 0px 0px 0px 0px;*/
	background : #5C4B46;
	box-shadow: 0px 5px 10px #333333; 
}


.contenu_central {
	
        position : relative;
        float : left;
	width:510px;
	height: 100%;    
        margin-left : 150px;
        margin-right: 150px;

}

.contenu_gauche {
position : relative;
width: 200px;
float:left;
height: 100%;
margin-left: 50px;
}

/* Bloc secondaires */

.petit_bloc {

margin: 50px 0 0 20px;
width:150px;
height: auto;
padding: 15px;
background-color:#333333;
box-shadow: 5px 5px 10px black;
line-height:20px;
text-align: justify;
margin-right : auto;

}


img.miniature {
width: 100px;
height:120px;
padding-right: 10px;
padding-left:10px;
}

/* Bloc de droite */ 

.contenu_droite {
position : relative;
width: 140px;
background: #333333;
float:left;
height: 100%;
margin-right: 50px;
margin-left: 30px;
margin-top: 20px;
box-shadow: 5px 5px 10px black;
}	

.contenuAjoute {
    height : 140px;
    width: 120px;
    padding: 10px;
}



	/*  Espace connexion */
	
.connexionArt {
	height: 240px;
        width: 200px;
	background: url(images/bulle.png) no-repeat;
        float: left;
        position : relative;
        margin-top:150px;
}	
	
 a {
	color: #A88F8F;
        white-space: nowrap;
 }	
	
#bulle {
margin-left:30px;
margin-top:50px;
}	

.bouton {
    
    padding : 2px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.log {
padding-top: 100px;
font-weight: bold;
}

/* Globales ? ttes les cat?gories */


.img_texte{
width: 200px;
height:240px;
margin-left : 150px;
}


.avatar {
margin: auto;
width: 100px;
height:100px;
padding-right: 25px;
padding-left: 25px;
}


.bloc_horizontal {

margin-top: 40px;
width:100%;
padding: 10px;
background-color:#333333;
box-shadow: 5px 5px 10px black;
line-height:20px;
text-align: justify;
color: #BC8F8F;

}




/* menu::base */
#menu {
    z-index:100;
    height:43px;
    position : relative;
    text-align : center;
    background:transparent url(images/header_bg.gif) repeat-x 0 0;  
}

#menu .menu {
    margin: 0 auto;	
    width: 800px;
}

#menu * {
    text-decoration : none;
    list-style:none;
    border:0;
    padding:0;
    margin:0;
}

#menu a {
    display:block;
    padding:15px 14px 14px 14px;
    white-space:nowrap;
}
#menu li {
    float:left;
    background:#fff;
}

#menu div {
    visibility: hidden;
    position: absolute;
    background:url(images/pix.gif);
}


#menu li:hover span {
    color:#3C4955;
}

#menu li.current {    
    background: transparent url(images/header_active.gif) repeat-x;
}

.home{
    padding: 50px;
    height : auto;
}

#menu>ul>li:hover>a {
    background: transparent url(images/header_active.gif) repeat-x;
}


#menu span {
    text-transform:uppercase;
    font:9px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif;
    letter-spacing:0.3em;
    text-decoration:none;
    color:#ffffff;
}

#menu li { background: url(images/header.gif) left top no-repeat;}
/* menu::level >= 2 */


div#copyright { display: none; }



#loupe{
position: absolute;
z-index:3;

}
/* NOUVEAU CSS RAJOUTE LE 6 Fevrier 2013 */
/*Notes*/
ul.notes-echelle {
                margin:0;
                padding:0;
                font:.75em/1.2 Arial, Helvetica, sans-serif;
}
ul.notes-echelle li {
                float:left;
                color: black;
                margin:0;
                padding:0;
                list-style:none;
                min-width:20px;
                min-height:20px;
}
/* Correctif IE6 sur min-width & min-height */
* html ul.notes-echelle.js li {
                width:20px;
                height:20px;
}
ul.notes-echelle li label {
                display:block;
                text-align:center;
                margin:0;
                padding:0;
                line-height:20px;
                background:url(images/etoiles.gif) center top no-repeat;
                cursor:pointer;
                float:none;
                width:20px;
}
ul.notes-echelle li.note-off label {
                background-position:center -60px;
}
ul.notes-echelle.js input {
position:absolute;
left:-999%;
}
 
.note{                                                                          
	background:url(images/etoiles.gif) left top no-repeat;
}

/*Bloc Interaction*/
#bloc_interaction{
	background-color:#333333;
	/*clear: both;*/
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
    padding: 10px;
	overflow: hidden;

}
#bloc_interaction .post{
	position:relative;
	border: 1px solid black;
	margin-top: 10px;
	/*margin-bottom:10px;*/
	color: black;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 5px;
	padding-bottom:5px;
	background-color: white;
}

#bloc_interaction #img_mini, #bloc_interaction #post_text{
display: inline-block;}


.pane .delete{ 
cursor: pointer;
}
.pane .unapprove{
cursor: pointer;
margin-right:5px;
}

#bloc_interaction .post_text{ color: black; padding-left: 10px; }
#bloc_interaction .post span:nth-child(2){ margin-right:20px;} /*Soit Span de l'AUTEUR */
#bloc_interaction .post span:nth-child(3){ color: gray;} /*Soit Span de l'HEURE DU TYPE */
#bloc_interaction .post>#post_croix {position: absolute; top:10px; right: 10px;padding:1px;}
#bloc_interaction .post>#post_croix_masque{position: absolute; top:10px; right: 30px;padding:1px;}
#bloc_interaction h1{
	margin-left: 5px;
	padding-left: 20px;
	padding-right: 5px;
	margin-right:5px;
	background-color: black;
	color: white;
}
#bloc_interaction p, #bloc_interaction ul
{
    font-size: 1.2em;
	color: black;
}

#comm
{
    display: inline-block;
    vertical-align: top;
	text-align: left;
    width: 100%;
}
.delimitation{clear:both;}
.note_top a {
	text-decoration: none;
	color: #A88F8F;
}


.note_top{
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px; 
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    font-size: 14px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}

    
.note_top a:hover{ padding:0px 25px; }
/*
.note_top1{border-top: 1px solid #96d1f8;background: #65a9d7; background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7)); background: -webkit-linear-gradient(top, #3e779d, #65a9d7); background: -moz-linear-gradient(top, #3e779d, #65a9d7); background: -ms-linear-gradient(top, #3e779d, #65a9d7); background: -o-linear-gradient(top, #3e779d, #65a9d7);}
.note_top2{border-top: 1px solid #df97f7; background: #d065d6; background: -webkit-gradient(linear, left top, left bottom, from(#9c3e89), to(#d065d6)); background: -webkit-linear-gradient(top, #9c3e89, #d065d6); background: -moz-linear-gradient(top, #9c3e89, #d065d6); background: -ms-linear-gradient(top, #9c3e89, #d065d6); background: -o-linear-gradient(top, #9c3e89, #d065d6);}
.note_top3{border-top: 1px solid #e6bb65;background: #c79345;background: -webkit-gradient(linear, left top, left bottom, from(#c46b27), to(#c79345));background: -webkit-linear-gradient(top, #c46b27, #c79345);background: -moz-linear-gradient(top, #c46b27, #c79345);background: -ms-linear-gradient(top, #c46b27, #c79345);background: -o-linear-gradient(top, #c46b27, #c79345);}
.note_top4{border-top: 1px solid #7be665;background: #84c745;background: -webkit-gradient(linear, left top, left bottom, from(#0ac700), to(#84c745));background: -webkit-linear-gradient(top, #0ac700, #84c745);background: -moz-linear-gradient(top, #0ac700, #84c745);background: -ms-linear-gradient(top, #0ac700, #84c745);background: -o-linear-gradient(top, #0ac700, #84c745);}
.note_top5{border-top: 1px solid #d95353;background: #e64040;background: -webkit-gradient(linear, left top, left bottom, from(#e00d1f), to(#e64040));background: -webkit-linear-gradient(top, #e00d1f, #e64040);background: -moz-linear-gradient(top, #e00d1f, #e64040);background: -ms-linear-gradient(top, #e00d1f, #e64040);background: -o-linear-gradient(top, #e00d1f, #e64040);}

*/

/* moteur recherche */
/* Menu DEROULANT */
#cadre-menu {
	position:fixed;
	left:-170px;
	overflow:hidden;
	top:25%;
	width:215px;
	font:12px Arial;
        z-index:10;
}
#bordure-menu {
	float:left;
	background:url('images/bloc_recherche.jpg') top right no-repeat;
	width:115px;
	margin:0px;
	padding:25px;
	padding-top:30px;
	border:5px solid #333333;
	border-left:none;
        color:#FFFFFF;
        text-transform:uppercase;
        font:9px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif;
        letter-spacing: 1px;
        text-decoration:none;
}

#bordure-menu input {
        width : 100px;
}

#bouton-menu {
	float: right;
	width:45px;
	margin:0px;
	height:136px;
	background:url('images/fond-demo-menu.jpg') top right no-repeat;
}

